@import 'vendor/normalize.css'
$fontColor = #FC177E
body
  font-family 'Lobster Two', cursive
  line-height 120%
  color $fontColor
  font-size 18px
  background-color white
  main
    text-align center
    h1
      margin-top 100px
      font-size 2.66rem
    p
      margin-top 100px
      font-family 'Open Sans', sans-serif
      color #4A4A4A
    form
      margin-top 100px
      button,input
        border 1px solid  #C2196A
        height 45px
        font-size 1rem
        display inline-block
        vertical-align top
      button
        background-color $fontColor
        color white
        height 49px
        padding-left 20px
        padding-right 20px
      input
        border-radius 8px 0 0 8px
        padding-left 10px
  .box
    display none
    max-width 200px
    margin 0 auto
    text-align center
    margin-top 50px
    padding-top 8px
    padding-bottom 8px
    padding-left 20px
    padding-right 20px
    p
      margin-top 0
      margin-bottom 0
      font-size .8rem
      font-family 'Lobster Two', cursive
      &:first-letter
        text-transform uppercase
  .success
    border-radius 5px
    border 1px solid green
    p
      color green
  .error
    border-radius 5px
    border 1px solid red
    p
      color red
