extends ./layout/layout.jade
block content
  main
    h1 Candyfor.me
    p ¿Buscas una candy?
      br
      | pronto todas en un solo lugar
    form(action="//devildeveloper.us5.list-manage.com/subscribe/post?u=83e72d05da8a49d39b5789a15&amp;id=afa99f861d",method="post",id="mc-embedded-subscribe-form",name="mc-embedded-subscribe-form",class="validate",target="_self",novalidate)
      input(type="email",value="",name="EMAIL",class="required email",id="mce-EMAIL",placeholder="Correo electrónico")
      button(type="submit",name="subscribe") Enviar
      .box
        p
  script(data-main="js/main",src="js/vendor/require.js",async)
